
body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color:#ffffff;
    text-align: center;
}

.header, .footer {
    background-color:#000000;
}

.header {
    padding: 30px 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    padding: 0 10px;
}

.list {
    display: grid;
    grid-template-areas: 'a b'
                        'c d';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 150px;
    margin: 120px 20px;
}

.list-item__1 {
    grid-area: a;
}

.list-item__2 {
    grid-area: b;
}

.list-item__3 {
    grid-area: c;
}

.list-item__4 {
    grid-area: d;
}

.list-item__1, .list-item__3 {
    justify-self: end;
}

.list-item__2, .list-item__4 {
    justify-self: start;
}

.list-item a {
    text-decoration: none;
    color: #000000;
    border: 5px solid #000000;
    padding: 40px;
}

.list-item__1 a {
    padding: 40px 50px;
}

.list-item a:hover {
    color: #ffffff;
    border: 5px solid  #000000;
    background-color:  #000000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.list-item__1 a:hover, .list-item__3 a:hover {
    border-top-left-radius: 100% 20px;
    border-bottom-right-radius: 100% 20px;
}

.list-item__2 a:hover, .list-item__4 a:hover {
    border-top-right-radius: 100% 20px;
    border-bottom-left-radius: 100% 20px;
}


/*footer*/
.footer {
    padding: 15px 0;
}

p {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 20px 20px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0;
    margin: 10px 20px;
}

.social-item {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 25px;
}

.social-item:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.social-item__vk {
    background-image: url(../img/vk.png);
}

.social-item__instagram {
    background-image: url(../img/instagram.png);
}

.social-item__mail {
    background-image: url(../img/gmail.png);
    margin-right: 0;
}



@media (max-width:600px) {
    .list {
        grid-template-areas: 'a'
                             'b'
                             'c'
                             'd';
        grid-template-columns: 1fr;   
    }
    .list-item {
        justify-self: center;
    }
}